/**
 * General stuff
 */

html *
{
    font-family: Lato !important;
}

.left-align {
    text-align: left;
}

#button-zoom {
  position: absolute;
  top: 45px;
  left: 10px;
  z-index: 10;
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0;
}


/**
 * Map
 */


#infovis-map {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    text-align: center;
}

#infovis-map-l {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100vh;
    text-align: center;
}

/**
 * Side panels (both) - General stuff
 */

.side-panel {
    position: fixed;
    z-index: 10;
    margin: 0;
    padding: 0 5px 0 5px;
}

.side-panel.opened {
    background-color: aliceblue;
    height: calc(100vh - 100px); /* 50px space on top and bottom */
}

.side-panel.closed {
    background-color: transparent;
    height: 25px; /* The button has a height of 25px, don't know why  */
    width: auto; /* Width of button */
    margin-top: 5px;
}

.side-panel.closed .header {
    height: auto;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: none;
}

.side-panel .header {
    text-align: right;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    padding-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.side-panel.closed .header .title {
    display: none;
}

.side-panel .header .control {
    float: right;
}

.side-panel .toggle-button:after {
    font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
    color:#000;
    font-style: normal;
    font-weight:900;
}

.side-panel .toggle-button {
    width: 25px;
    margin-top: 5px;
}

.side-panel.opened .body {
    overflow-y: auto;
    padding-top: 5px;
}

.side-panel.closed .body {
    display: none;
}

.side-panel.closed .footer {
    display: none;
}


/**
 * Filter panel
 */

.side-panel.left {
    top: 50px;
    left: 0;
}

.side-panel.left.opened {
    width: 10vw;
}

.side-panel.left.opened .body {
    /* Full height - space top - space bottom - height header incl. margin and padding and border - padding body */
    height: calc(100vh - 50px - 50px - 66px - 5px - 81px);
    min-height: calc(100vh - 50px - 50px - 66px - 5px - 81px);
    max-height: calc(100vh - 50px - 50px - 66px - 5px - 81px);
    padding-top: 0;
    margin-top: 0;
}

.side-panel.left.opened .footer {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-top: 1px solid lightgray;
}

.side-panel.left.opened .toggle-button:after {
    content: '\f100';
}

.side-panel.left.closed .toggle-button:after {
    content: '\f101';
}


/**
 * Visualizations panel
 */


.side-panel.right {
    top: 50px;
    right: 0;
}

.side-panel.right.opened {
    width: 85vw;
}


.side-panel.right.opened .body {
    /* Full height - space top - space bottom - height header incl. margin and padding and border - padding body */
    height: calc(100vh - 50px - 50px - 66px - 10px);
    min-height: calc(100vh - 50px - 50px - 66px - 10px);
    max-height: calc(100vh - 50px - 50px - 66px - 10px);
}

.side-panel.right.opened .toggle-button:after {
    content: '\f00d';
}

.side-panel.right.closed .toggle-button:after {
    content: '\f201';
}


/**
 * Filters in filter panel
 */


.infovis-filter {
    margin: 0px 3px 8px 2px;
}

.infovis-filter .title {
    margin-bottom: 0.2em;
}

.infovis-filter .range-input {
    margin-bottom: 0.2em;
}
